<section class="login-main height-screen">
    <div class="login-main__lefth">
      <div class="login-main__childrenL">
        <h1 class="title-login">¡Hola!</h1>
        <p><strong class="subtitle-login">Bienvenido al juego PIEDRA PAPEL O TIJERA,</strong><br>aquí podrás divertirte con tus amigos<br>o retarte a ti mismo!.</p>
        <button type="button" class="btn btn-dark" (click)="login()">Ingresar</button>
      </div>
    </div>
  
    <div class="login-main__righth">
      <img
        class="img-bkg"
        src="../../../assets/piedraPapelTijera.jpg"
        alt=""
      />
    </div>
  </section>
