.login-main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    padding: 145px 0;
    .login-main__lefth{
        width: 50%;
        min-width: 250px;
        display: flex;
        align-items: center;
        .login-main__childrenL{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 295px;
            padding: 50px 0;
            h1{
                margin-bottom: 0px;
            }
            p{
                font-size: 1.3rem;
                margin-top: 0px;
            }
            button{
                width: 246px;
                text-transform: none;
            }

        }
    }
    .login-main__righth{
        width: 60%;
        max-width: 600px;
        display: flex;
        align-items: center;
        img{
            width: 100%;
            height: auto;
        }
    }
}

.height-screen{
    height: calc(100vh - 111px);
}
.title-login{
    font-size: 5.5rem;
}
.subtitle-login{
    font-size: 1.8rem;
}
.img-bkg{
    width: auto;
    height: auto;
}
