<app-navbar-sidebars></app-navbar-sidebars>
<div class="container px-3 py-5 topContainer" id="featured-3">
    <h2 class="pb-2 border-bottom">Como Jugar!</h2>
    
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-black bg-gradient fs-2 mb-3">
            <div>
                <img src="./assets/paper.png" class="sizeImg">
            </div>
        </div>
        <h3 class="fs-2">Papel</h3>
        <p>Piedra vence a tijeras.</p>
      </div>



      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-black bg-gradient fs-2 mb-3">
            <div>
                <img src="./assets/rock.png" class="sizeImg">
            </div>
        </div>
        <h3 class="fs-2">Piedra </h3>
        <p>Piedra vence a tijeras.</p>
      </div>


      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-black bg-gradient fs-2 mb-3">
            <div>
                <img src="./assets/scissors.png" class="sizeImg">
            </div>
        </div>
        <h3 class="fs-2">Tijeras</h3>
        <p>Tijeras vence a papel.</p>
      </div>
    </div>
</div>
